<div class="container pt-md-4">
  <mat-card class="mat-elevation-z8">

    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
      <div class="d-flex flex-column gap-2">
        <div class="row pt-md-4">
          <div class="col-md d-flex justify-content-center">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input
                autocomplete="given-name"
                matInput
                [formControl]="firstNameControl"
                placeholder="John"
                appPreventNumbers>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md d-flex justify-content-center">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input
                autocomplete="given-name"
                matInput
                [formControl]="lastNameControl"
                placeholder="Smith"
                appPreventNumbers>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md d-flex justify-content-center">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                autocomplete="email"
                placeholder="example@example.com"
                matInput
                [formControl]="emailControl">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md d-flex justify-content-center">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input
                autocomplete="new-password"
                type="password"
                matInput
                [formControl]="passwordControl">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md d-flex justify-content-center">
            <mat-form-field appearance="outline">
              <mat-label>Choose a Role</mat-label>
              <mat-select [formControl]="roleControl">
                @for (role of roleOptions; track $index) {
                  <mat-option [value]="role">
                    {{ role }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>


      </div>

      <div class="row py-md-4">
        <div class="col-md d-flex justify-content-center align-items-center">
          <button mat-flat-button class="rounded-5" type="submit" color="primary">
            Submit
          </button>
        </div>
      </div>


    </form>

  </mat-card>
</div>
