<div class="row">
  <div class="col-md-12 d-flex">
    <form action="" [formGroup]="userFiltersForm" class="d-flex w-100">
      <mat-form-field class="w-25" appearance="fill">
        <mat-label>Filter by email</mat-label>
        <input matInput placeholder="Email" type="text"
               [matAutocomplete]="userEmailAutoComplelete"
               formControlName="emailFilterControl">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="resetFilter()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete
          (optionSelected)="onOptionSelected($event)"
          #userEmailAutoComplelete="matAutocomplete">
<!--          @if (emailFilterOptions.length == 0) {
            <mat-option class="pe-none" value="">Email doesn't exist</mat-option>
          }-->
          @for (option of emailFilterOptions; track $index) {
            <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>

      </mat-form-field>
    </form>
  </div>
</div>

